<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>532280069464-l1readfgm3t451a07q3ltsgjoqthlhh7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.532280069464-l1readfgm3t451a07q3ltsgjoqthlhh7</string>
	<key>API_KEY</key>
	<string>AIzaSyDqkhrKzAXeVh77m7AV350_NssEAhYoZOQ</string>
	<key>GCM_SENDER_ID</key>
	<string>532280069464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.modernlogintute</string>
	<key>PROJECT_ID</key>
	<string>change-it-1f85e</string>
	<key>STORAGE_BUCKET</key>
	<string>change-it-1f85e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:532280069464:ios:2b7068b4c16c75e68ee92d</string>
</dict>
</plist>